*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --font-title-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    
}
html {
    font-size: 62.5%;
    
} 

body {
    display: flex;
    flex-direction: column;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;
}
#bodyIndex{
  background-image: url("../Imagenes/fonfo-game14.jpg");
  background-position:top;
}
#borderSep{
  border-bottom: 0.1rem solid white;
  color: white;
  width: 100%;
  height: 0.5px;
  margin-top: 1rem;
}
.navbar{
  color: black;
}
#navText{
  margin-left: 1rem;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-family: var(--font-title-family);
  
}
.titulosIndex{
  display: flex;
  flex-direction: column;
  margin-top: 2rem; 
}
h2{
    color:gainsboro;
    margin-bottom: 1rem;
    font-size: 1.5em;
    text-transform: uppercase;
}
h1{
  font-family: var(--font-title-family);
    text-align: center;
    letter-spacing: 7px;
    margin-top: 1rem;
    color:#FFD23F;
    font-size: 1.7em;
    margin-bottom: 1rem;
}

h3{
    color:whitesmoke;
}
h4{
  font-family: var(--font-title-family);
  color: white;
  font-size: 2em;
  letter-spacing: 4px;
  text-align: center;
  padding: 5px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: 1px solid white;
  width: 20rem;
  border-radius: 0.5rem;
  -moz-box-shadow: 1px 0px 7px #f8f8f8;
  -webkit-box-shadow: 1px 0px 7px #ededf5;
  box-shadow: 1px 0px 7px #ededf1; 
}
h4:hover{
  background-color: gray;
}
.btnDivisas{ 
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
    justify-content: center;    
}    
#infoBox{
  width: 19rem;
  height: 6rem;
}
#usdt,#dolar,#eur,#btcArs,#ethArs,#eth{
  margin-left: 1rem;
  margin-top: 3rem;
}
#usdArs,#btc{
  width: 60%;
  
}
#cotizacionBts{
  color: white;
  margin-top: 1rem;
}
.boxDivisas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boxBtc,.boxDolarBlue,.boxDolarOficial{
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
  font-size: 1.6em;
  
}
#resultadoCripto,#resultadoFecha,#resultadoDolar{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.6em;
  gap: 0.5rem;
  
}

.spanBtc{
  font-size: 1.4em;
}
.sa{
  font-size: 2.1em;
}
.sb{
  color: #D1BE9C; 
  font-size: 1em;
}

.tDivisas{
  color:#90C290;
  font-size: 1.4em;
  letter-spacing: 2px;
}

.section{
  width: 100%;
  display: flex;
  margin-top: 1rem;
  gap:2rem;
}

/* Switch cambiar tema */
.switch{
  margin-bottom: 1rem;
}
.inputOne[type=checkbox] {
  visibility: hidden; }

.inputOne[type=checkbox]:checked + .labelOne {
  transform: rotate(360deg);
  background-color: whitesmoke; }

.inputOne[type=checkbox]:checked + .labelOne:before {
  transform: translateX(60px);
  background-color: black; }

.labelOne {
  background-color: black;
  display: flex;
  width: 100px;
  height: 40px;
  border: 3px solid;
  border-radius: 99em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer; }

.labelOne:before {
  transition: transform 0.75s ease;
  transition-delay: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  background-size: 115%;
  border-radius: 50%;
  top: 2px;
  left: 2px; }

  /*Reloj Digital*/

.reloj{
color:white; 
display: flex;
flex-direction: column;
align-items: flex-end; 
}
.tiempo{
letter-spacing: 0.05em;
font-size: 1.5em;
}
.fecha{
letter-spacing: 0.1em;
font-size: 1.5em;
letter-spacing: 0.1em;
}
.btnEnd{
  width: 25%;
  gap:1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-left: 1rem;

}

@media only screen and (max-width: 400px) {
  .section{
    flex-direction: column;
}
.titulosIndex{
  align-items: center;
  
}
}