*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-juego{
    background-color: gray;
    height:100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:1rem;
    text-align: center;
}

.juego-titulo, .juego-info{
    text-align: center;
    font-size: 0.8em;
}

.juego-cuadricula{
   
    display: grid;
    grid-template-columns: auto auto auto;
    gap:0;
}

.cuadro{
    width:3rem;
    height: 3rem;
    border: 1px solid rgb(168, 168, 168);
    text-align: center;
    color:#F79824;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: background-color ease-in 0.2s;
}

.cuadro:hover{
   
    background-color:#cccc;
    
}

.juego-boton{
    display:inline-flex;
    padding: 0.5rem 0.5rem;
    background:red ;
    color: white;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    transition:color ease-out 0.3s;
   
}

.juego-boton:hover{
  
    background:white ;
    color: red;
    border: 1px solid red;
   
}

